.modal {
    height: 100vh;
    width: 100vw;
    background-color: #00000073;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        padding: 20px;
        border-radius: 12px;
        background-color: white;
        height: 400px;
        width: 400px;
        transform: scale(0.5);
        transition: 0.4s all;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_middle {
            .inputs {
                margin-top: 20px !important;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
        }

        &.active {
            transform: scale(1);
        }
    }
}